# Configuration file for quick-fedora-mirror
# This file is sourced by the shell and must be in valid sh syntax.

#### Required settings
# Required: The the directory holding your copy of all of the modules you
# mirror.  Does not include any module name
DESTD=

# Required: The file in which to store the last mirror time.
# Note: this really should not be in the repository itself.
TIMEFILE=

# Other settings
# The remote host to rsync from, not including a module name
# REMOTE=rsync://dl.fedoraproject.org

# The master module, which holds the other modules
# Tier 1 mirrors should change this to fedora-buffet0
# MASTERMODULE=fedora-buffet

# Define if the entire repository (all modules under fedora-buffet) should be
# mirrored.  If set, MODULES (below) is ignored
# MIRRORBUFFET=

# An array containing the modules to be mirrored
# MODULES=(fedora-enchilada fedora-epel)

# The name of the file holding the file list on the mirror host Note: the
# string '$mdir' will be replaced with the name of the current module directory
# in context, and so the '$' must be escaped or the string quoted.
# FILELIST='fullfiletimelist-$mdir'

# Mapping of MODULES to directory names, as an associative array
# MODULEMAPPING=(fedora-alt alt  fedora-archive archive
#                fedora-enchilada fedora  fedora-epel epel)

# rsync binary
# RSYNC=/usr/bin/rsync

# curl binary (only if MirrorManager checkins are enabled; see below).
# CURL=/usr/bin/curl

# Array of default options to pass to rsync
# Will be modified automatically according to VERBOSITY level; no need to set
# -q, -v or --info here.
# You can add excludes here, but the script will always detect those files as
# missing and will add them back to the file list.  This may generate
# complaints from rsync, but should not cause any problems.
# RSYNCOPTS=RSYNCOPTS=(-aSH -f 'R .~tmp~' --preallocate --fuzzy --delay-updates)

# Define KEEPDIRTIMES (to anything) to make a third rsync call which restores
# the timestamps of any directories which were modified after file removal.
# This won't ensure that timestamps are always up to date, but its good enough
# if you don't modify your repository locally.  Maintaining directory
# timestamps isn't important for mirroring in any case.
# Note: Not yet implemented
# KEEPDIRTIMES=

# DEFINE CHECKIN_SITE and CHECKIN_PASSWORD to perform a mirrormanager checkin
# at the completion of the run if rsync succeeded without error.
# CHECKIN_HOST will default to the output of the hostname command.   Set it if necessary.
# This requires that "curl" be installed; see CURL above if it's not in /usr/bin.
# Note: Not yet implemented; mirrormanager does not yet support this.
# CHECKIN_SITE=
# CHECKIN_PASSWORD=
# CHECKIN_HOST=

# Verbosity level
# 0 - quiet
# 1 - start and end times
# 2 - no -q to rsync
# 3 - very slightly more verbosity
# 4 - One -v to rsync
# 5 - Another -v to rsync
# 6 - Output of all settings
# 7 - Add --progress to rsync
# 8 - Shell script trace
# VERBOSE=0

# mktemp will be called after this file is sourced to make a temporary
# directory.  This directory can contain a large amount of data, and that data
# is specified by the server.  If your /tmp is small and you are concerned
# about the server potentially sending extra-huge files and filling things up,
# you can set TMPDIR here.
# TMPDIR=
